@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#pillNav2{
    margin-top: 1rem;
}

:root{
    --principal-font: 'Orbitron';
    --secundary-font: 'Poppins';
    --color-one: #fff;
}

/*Cabeçalho*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Seção Hero*/

.section-hero, .section-card{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-hero{
    background: #f5f5f5;
}

.container-hero{
    background: rgb(32, 32, 32);
    background-image: url('img/3303245.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.ante-title{
    padding: .2rem;
    margin: 0;
    font-family: var(--secundary-font);
    font-size: 1rem;
    color: var(--color-one);
}
.ante-title>p, .title>p, .description>p{
    margin: 0; /* Remove margin do parágrafo */
    padding: 2rem; /* Remove padding do parágrafo */
    color: var(--color-one);
}
.title{
    width: 60%;
    font-family: var(--secundary-font);
    font-size: 2.2rem;
    text-align: center;
    line-height: 2.5rem;
    color: var(--color-one);
}
.title>h1{
    color: var(--color-one);
}

.description{
    width: 80%;
    text-align: center;
    color: var(--color-one);
}

.accent-text{
    background-image: #8d8d8d;
    font-weight: 700;
}
.btn-cta-hero{
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: center;
}
#btn-cta{
    outline: none;
    border-radius: 40px;
    padding: 1rem 3rem;
    border: none;
}

#btn-second-cta{
    background: transparent;
    outline: none;
    border: none;
    color: var(--color-one);
}

/*Segunda seção - abaixo do hero*/

.section-card{
    background-color: var(--color-one);
}

.background-card{
    background-color: #ffffff46; /* Fundo branco do container */
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Animação suave ao interagir */
    padding: 4rem;
    position: relative;
    border: 4px solid #e2e2e2;
}

.background-card::before{
    content: ''; 
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #ffffff5e; 
    border-radius: 50%; 
    filter: blur(170px); 
    z-index: -0.5; 
}

.background-card>h1{
    font-family: var(--secundary-font);
    color: #181818;
}

.background-card>p{
    --secundary-font: 'Poppins';
    margin-top: 10px;
    color: #052D24;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    /* Gradiente de desvanecimento nas bordas do contêiner */
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    font-size: 24px;
    animation: scroll-left 35s linear infinite;
}

.marquee span {
    display: inline-block;
    margin-right: 30px; /* Espaço entre as palavras */
    font-size: 1.1em;
    color: rgb(32, 32, 32);
}

.marquee span::before {
    content: "✓";
    color: #d502ff; /* Cor do símbolo */
    margin-right: 5px; /* Espaçamento entre a palavra e o símbolo */
    font-size: 1em; /* Tamanho do símbolo, opcional */
}

.section-beneficios{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 4rem;
    text-align: center;
    background-color: rgb(150, 25, 253);
}

.section-beneficios>h1, .section-beneficios>p, .section-beneficios>h3{
    color: var(--color-one);
}
.container-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Cria 2 colunas de tamanho igual */
    grid-gap: 20px; /* Espaçamento entre os cards */
    max-width: 1200px; /* Largura máxima do container */
    width: 100%;
}
.card {
    background-color: var(--color-one);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #333;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}

.card:nth-child(odd) {
    background-color: var(--color-one) !important; /* Cor diferente para os cards ímpares */
}

.card-left {
    flex: 1; /* Deixa a imagem ocupar 50% do card */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-left img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-right {
    flex: 2; /* Deixa o conteúdo de texto ocupar 50% do card */
    padding-left: 20px;
}

.card-right h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-right p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.card-right a {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.card-right a:hover {
    text-decoration: underline;
}

.card:nth-child(odd) {
    background-color: #f1f1f1;
}

.btn.btn-info{
    color: var(--color-one);
}

.section-demonstration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    background-color: var(--color-one);
    color: black;
}

.container-demonstration{
    display: flex;
    width: 100%;
    padding: 3rem;
}

.container-demonstration.second{
    padding: 3rem;
    margin: 0;
    background-image: url('/img/teste.png');
    background-size: contain; /* Ajusta a imagem ao tamanho do container */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
}

.left-side-demonstration{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 2rem;
}

.card-img{
    background: pink;
    border-radius: 20px;
    width: 40%;
    float: right;
}

.right-side-demonstration{
    width: 50%;
    height: 40vh;
    text-align: start;
    margin-left: 1rem;
    color: black;
}

.content{
    width: 60%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    margin: 0;    
}

.cta-button{
    border-radius: 20px;
}

  
.seal {
margin: 1rem 2rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute; /* Posiciona o selo em relação à div */
  top: -75px; /* Ajuste para posicionar acima da div */
  background: var(--color-one);
  color: #272727;
  font-size: 14px;
  font-weight: bold;
  transform-origin: center center; /* Define o ponto de rotação */
  animation: rotateSeal 2s alternate infinite; /* Animação de rotação em ambos os sentidos */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 20px 15px rgba(101, 28, 161, 0.5); /* Deslocamento, desfoque e opacidade */
  line-height: 15px;
  }
  
  .container {
    display: flex;
    padding: 2rem;
    max-width: 1000px;
    background-color: var(--color-one);
    border-radius: 8px;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-right: 1px solid var(--color-one);
}

.logo-box {
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--color-one);
    padding: 1rem 2rem;
    border: 2px solid #333;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.line {
    width: 30%;
    height: 2px;
    background: linear-gradient(to right, #ff00c7, #8b00ff);
    background-size: 200% 100%;
    animation: slide-gradient 5s linear infinite; /* Aumentei o tempo de duração para ver o efeito mais lentamente */
}

.circle {
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
}

.right-section {
    flex: 1;
    padding: 2rem;
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tagline {
    font-size: 0.9rem;
    font-weight: bold;
    color: #888;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
}

.highlight-box {
    background-color: var(--color-one);
    padding: 1rem;
    border-left: 4px solid #4005e3;
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.feature {
    flex: 1 1 200px;
    padding: 1rem;
    background-color: var(--color-one);
    border-radius: 8px;
}

.feature p {
    font-size: 0.95rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.how-it-works {
    text-align: center;
    width: 100%;
    padding: 4rem;
}

/* Título e subtítulo */
.section-subtitle {
    color: #b08bfc;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
}

/* Container de passos */
.steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

/* Cada passo */
.step {
    text-align: center;
    width: 30%;
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(20px); /* Move um pouco para baixo para um efeito de subida */
    transition: opacity 1s ease, transform 1s ease; /* Transição para o efeito de fade e subida */
}

.step.visible {
    opacity: 1;
    transform: translateY(0); /* Retorna à posição original */
}


.icon-container {
    width: 80px;
    height: 80px;
    margin: 0 auto 1rem;
    border-radius: 50%;
    background: var(--color-one);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 40px;
    height: 40px;
}

.step-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.step-description {
    color: #666;
    font-size: 0.9rem;
}

/* Linha entre passos */
.line {
    width: 30%;
    height: 2px;
    background: linear-gradient(to right, #ff00c7, #8b00ff);
}

/* Botão de chamada para ação */
.cta-button {
    background: linear-gradient(to right, #ff00c7, #8b00ff);
    color: var(--color-one);
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background 1s ease;
}

.cta-button:hover {
    background: linear-gradient(to right, #8b00ff, #ff00c7);
}

.animated-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15rem;
    position: relative;
    overflow: hidden;
    background-color: #f5f5f5;
  }

.animated-section.second{
    background-color: rgb(255, 255, 255);
}

  .left-side-animated{
    width: 50%;
    display: flex;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
  }

  .right-side-animated{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    text-align: start;
  }
  
  /* Círculos concêntricos animados */
  .circles {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(45deg, #ea0cf1, #00bfff);
    opacity: 0.2;
    animation: pulse 6s infinite ease-in-out;
  }
  
  /* Tamanhos e opacidades diferentes para os círculos */
  .circle1 {
    width: 400px;
    height: 400px;
    animation-delay: 0s;
  }
  
  .circle2 {
    width: 500px;
    height: 500px;
    animation-delay: 1s;
  }
  
  .circle3 {
    width: 600px;
    height: 600px;
    animation-delay: 2s;
  }
  
  .circle4 {
    width: 700px;
    height: 700px;
    animation-delay: 3s;
  }
  
  /* Estilo do retângulo com imagem */
  .rectangle {
position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rectangle img {
    width: 400px;
    height: 100%;
    object-fit: fill;
    animation: float 6s ease-in-out infinite;
  }

  .interactive-features {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 3rem;
    margin-left: 4rem;
    background-color: var(--color-one);
    flex-wrap: wrap; /* Para garantir que os itens se ajustem em telas menores */
}

.cards-interactive{
    display: flex;
    gap: 2rem;
}
/* Estilo para os boxes de recursos */
.feature-box {
    flex: 1 1 300px; /* Flexível, com tamanho mínimo de 300px */
    max-width: 400px;
    padding: 4rem;
    border-radius: 35px;
    text-align: center;
    color: var(--color-one);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para os títulos dos boxes */
.feature-box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Cores específicas para cada box */
.quiz-box {
    background-color: #A066FF;
}

.creative-box {
    background-color: #735DFF;
}

.games-box {
    background-color: #FFB824;
}

/*Keyframes */

/* Animação de movimento da direita para a esquerda */
@keyframes scroll-left {
    0% {
        transform: translateX(0); /* Início da posição */
    }
    100% {
        transform: translateX(-100%); /* Final da posição (loop) */
    }
}

  /* Animação de rotação */
  @keyframes rotateSeal {
    0% {
      transform: rotate(0deg); /* Começa em 0 grau */
    }
    25% {
      transform: rotate(20deg); /* 1/4 de rotação no sentido horário */
    }
    50% {
      transform: rotate(0deg); /* Volta para 0 grau */
    }
    75% {
      transform: rotate(-20deg); /* 1/4 de rotação no sentido anti-horário */
    }
    100% {
      transform: rotate(0deg); /* Volta para 0 grau novamente */
    }
  }
  
/* Animação do gradiente */
@keyframes slide-gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}

@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

/* Animação para os círculos */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 0.2;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.1;
    }
    }


/* Responsividade: Ajuste para dispositivos menores */
@media (max-width: 768px) {
    .interactive-features {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .feature-box {
        width: 100%; /* Para ocupar toda a largura em telas muito pequenas */
    }

    .interactive-features {
        padding: 10px;
    }
}